# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Databases
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# TradingView data (optional, depends if you want to share your raw CSVs)
# backtest_imports/*.csv